body {
	background-color: lightblue;
}

h1 {
	color: black;
	text-align: center;
	font-family: impact;
	font-size: 40px;
}

h2{
	color: black;
	text-align: left;
	font-family: impact;
	font-size: 26px;
}
p {
	background-color: white;
	border-style: solid;
	border-width: 2.5px;
	border-color: black;
	text-align: left;
	font-size: 19px;
}

.deez {
	width: 50%;
	margin:auto;
	display:block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}